.hero{
    display: flex;
    flex-direction: column;
    width: 777.6px;
    .portrait{
        display: grid;
        grid-template-columns: 1fr 1fr;
        
        .portrait-item{
            height: 250px;

        }
    }

    .text-wrapper{
      background-color:grey;
      display: grid;
      grid-template-columns: 1fr 1fr;
      
      height:250px;
      width: 425px;
      

      .left-side{
          width:125px;
      }
      .right-side{
          width:300px;
      }
    }
}